<!DOCTYPE html>
<html lang=fr>

<head>
    <title>Tchat Web-Data</title>
    <script>
        var usersUrl = "/users/" + tabUsers[i].pseudo;
        var userMsg = "/messages/" + tabUsers[i].pseudo;
    </script>
</head>

<body>
    <h1>Gestion des utilisateurs du tchat Web-Data</h1>
    <table>
            <tr>
                <th>ID</th>
                <th>Pseudo</th>
                <th>Adresse e-mail</th>
                <th>Mot de passe</th>
                <th>Statut</th>
            </tr>
            <% for (i=0; i<tabUsers.length; i++) { %>
                <tr>
                    <form method="post" action="/user/<%= tabUsers[i].user_id %>">
                        <td><%= tabUsers[i].user_id %></td>
                        <td><input name="pseudo" type="text" value="<%= tabUsers[i].pseudo %>"></td>
                        <td><input name="mail" type="email" value="<%= tabUsers[i].email %>"></td>            
                        <td><input name="password" type="text" value="<%= tabUsers[i].user_pwd %>"></td>
                        <td><% if (tabUsers[i].user_status === '1') {%>En ligne<% } else {%>Hors-ligne<% } %></td>
                        <td><button>Modifier</button></td>
                    </form>
                    <td><a href="/user/<%= tabUsers[i].user_id %>"><button>Supprimer</button></a></td>
                </tr>
            <% } %>
        </form>
    </table>
</body>

</html>