<!DOCTYPE html>
<html lang=fr>

<head>
    <title>Tchat Web-Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body style="background-color: rgb(225, 227, 230)" onload="refresh();">
    <center>
        <div class="card border-dark bg-light mb-3" style="margin: 4em auto; width: 60%;">
        <h3 class="border-dark bg-secondary text-white card-header" style="height: 5em; padding-top: 1em;">Bienvenue sur le tchat Web-Data, <%= onlineUser %></h3>
        <div class="card-body">
            <form method="post" action="/sendMsg">
                <input name="id" class="form-control" type="hidden" value="<%= onlineUser %>">
                <div class="form-row">
                    <div class="form-group col-md-2">
                    <input type="hidden" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-8">
                    <input id="event" class="form-control" style="padding: 2em; width: 90%" size="40" maxlength="120" name="message" placeholder="Votre message" type="text">
                </div>
                <div class="form-group col-md-2">
                    <input type="hidden" class="form-control" id="inputZip">
                </div>
            </div>
            <button class="btn btn-success">Envoyer</button>
            </form>
            <% for (i=0; i<tabMsg.length; i++) { %>
                <p class="alert alert-info" style=" width: 60%; font-size: 1.2em; padding: 1.2em">
                    <b><%= tabMsg[i].pseudo %></b> : <%= tabMsg[i].msg_body %></p>
                <p><%= tabMsg[i].msg_date %></p>
            <% }%>
            <p><a href="/offline/<%= onlineUser %>"><button class="btn btn-danger">Se déconnecter</button></a></p>
            <br>
        </div>
        <div class="border-dark bg-secondary card-footer text-white">
            <p><b>Utilisateurs en ligne : </b><% for (i=0; i<tabOnline.length; i++) { %><%= tabOnline[i].pseudo %> <% } %></p>
        </div>
        <% if (onlineUser==="admin") { %>
            <form method="post" action="/admin"><button>Administration des Utilisateurs</button></form>
        <% } %>
        </div>
        </center>
        <script>
            var url = "/online/" + "<%= onlineUser %>";
            var interval;
            var refresh = () => {
            interval = setInterval(() => {
                location.href = url;
            }, 10000);
        }
        document.getElementById("event").addEventListener("focus", () => { clearInterval(interval); });
        document.getElementById("event").addEventListener("blur", () => { refresh(); });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>
</body>

</html>