<!DOCTYPE html>
<html lang=fr>

<head>
    <title>Tchat Web-Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: rgb(225, 227, 230)">
    <center class="center">
        <div class="card border-dark bg-light mb-3" style="margin: 4em auto; width: 60%; height: 50vh;">
            <h2 class="border-dark bg-secondary text-white card-header">Bienvenue sur le tchat Web-Data</h2>
            <div class="card-body">
            <form method="post" action="/online">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input type="hidden" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-8">
                        <p><%= message %></p>
                        <label>Pseudo :</label>
                        <input name="id" class="form-control" style="padding: 1.5em" placeholder="Pseudo" type="text">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="hidden" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input type="hidden" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-8">
                        <label>Mot de passe :</label>
                        <input name="password" style="padding: 1.5em" class="form-control" placeholder="Mot de passe" type="password">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="hidden" class="form-control" id="inputZip">
                    </div>
                </div>
                <button class="btn btn-success">Se connecter</button>
                </form>
                <br>
                <p><b>Pas encore enregistré ?</b></p>
                <a href="/form"><button class="btn btn-secondary">Inscrivez-vous</button></a>
                <br>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </center>
</body>

</html>